body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0px;
  padding: 0px;
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden;
}

/* Ensure bottom image never exceeds viewport */
.bottom-img {
  max-width: 100%;
}

/* Offcanvas overlay fix */
.offcanvas-custom {
  width: 100%; /* instead of 100vw */
}

/* Hover background white */
.hover-invert-bg:hover {
  background-color: #fff !important;
}

/* Hover text dark */
.hover-invert-text:hover {
  color: #000 !important;
}

/* Hover border dark */
.hover-invert-border:hover {
  border-color: #000 !important;
}


/* Default: hidden on small/medium screens */

.hoverbtn:hover{
  background-color: wheat;
  color: black;
}