
  .servicesMT{
    padding: 25rem;
  }
  
  .services{
    padding-left: 5rem;
  }

  .service-box-dark {
    border-left: 2px solid #fff;
  }

  .service-box-dark .h1 {
    border-left: 5px solid #fff;
    margin-left: -50px;
    padding-left: 2rem;
    min-width: 22rem;
  }

  .vision-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: clamp(12px, 2vw, 14px);
    line-height: clamp(16px, 2.5vw, 20px);
    letter-spacing: 2px;
  }

  .heading-style {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: clamp(18px, 3vw, 24px);
    line-height: clamp(28px, 5vw, 43px);
    min-width: 22rem;
  }

.para-style {
  font-size: clamp(8px, 1.5vw, 16px);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1px;
  color: white;
}

/* Force desktop to exactly 24px */
@media (min-width: 992px) {
  .para-style {
    font-size: 16px;
  }
}



