
  .service-box-dark {
    border-left: 2px solid #fff;
  }

  .service-box-dark .h1 {
    border-left: 5px solid #fff;
    margin-left: -50px;
    padding-left: 4rem;
  }

  .vision-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: clamp(12px, 2vw, 14px);
    line-height: clamp(16px, 2.5vw, 20px);
    letter-spacing: 2px;
  }

  .heading-style {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: clamp(18px, 3vw, 24px);
    line-height: clamp(28px, 5vw, 43px);
  }





